<html xmlns:th="http://www.thymeleaf.org" lang="en">
<!--/*@thymesVar id="result" type="org.carpenoctemcloud.remote_file.RemoteFile"*/-->
<div th:fragment="result (resultRef)" th:onclick="@{'location.href=\'/file/' + ${result.id()} + '\''}"
     class="border-1 border border-black justify-content-evenly my-1 p-2 rounded-1 result row g-0">
    <div class="col-auto align-content-center"
         th:if="${!result.categoryID().isEmpty()}">
        <img th:if="${result.categoryID().get() == 1}" th:src="@{/img/film.svg}"
             alt="file logo"
             class="fileImage">
        <img th:if="${result.categoryID().get() == 2}" th:src="@{/img/music.svg}"
             alt="file logo"
             class="fileImage">
        <img th:if="${result.categoryID().get() == 3}" th:src="@{/img/image.svg}"
             alt="file logo"
             class="fileImage">
    </div>

    <div class="col-auto justify-content-center align-content-center"
         th:if="${result.categoryID().isEmpty()}">
        <img th:src="@{/img/file.svg}" class="fileImage" alt="file">
    </div>

    <p class="mb-0 col-9 align-content-center" th:text="${result.name()}"></p>

    <div class="d-flex flex-row justify-content-evenly align-content-center col-2 p-1 gap-2">
        <div class="customTooltip d-flex align-items-center">
            <a class="download align-content-center"
               th:href="'/redirect-file/' + ${result.id()}"
               th:download="${result.id()} + '.html'">
                <img th:src="@{/img/download.svg}" alt="Universal download"
                     class="fileImage platformImage" height="24">
            </a>
            <span class="tooltiptext">Universal Download (semi-broken)</span>
        </div>
        <div class="customTooltip d-flex align-items-center">
            <a class="download align-content-center"
               th:href="'/redirect-file/WINDOWS/' + ${result.id()}"
               download>
                <img th:src="@{/img/windows.svg}" alt="Windows"
                     class="fileImage platformImage"
                     height="24">
            </a>
            <span class="tooltiptext">Download for Windows</span>
        </div>
        <div class="customTooltip d-flex align-items-center">
            <a class="download align-content-center"
               th:href="'/redirect-file/MAC/' + ${result.id()}"
               download>
                <img th:src="@{/img/mac.svg}" alt="macOS"
                     class="fileImage platformImage" height="24">
            </a>
            <span class="tooltiptext">Download for MacOS</span>
        </div>
    </div>
</div>
</html>