@import "bootstrap.min.css";

html, body {
    overflow-x: hidden;
    max-width: 100vw;
    height: 100%;
}

body {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}


.category-select {
    min-width: 150px;
    font-size: 1rem;
    padding: 0.5rem 0.75rem;
}

.result {
    background: var(--bs-light-bg-subtle);
    transition: all 0.15s ease-in-out;
}

.result:hover {
    background: #544f54;
    box-shadow: 0 0 0 0.2rem rgba(59, 48, 61, 0.4);
}

.fileImage {
    filter: invert(1);
    width: 24px;
}

a:hover .platformImage {
    filter: invert(0.9);
    transform: scale(1.1);
}

.download {
    transition: all 0.1s ease-in-out;
    text-decoration-color: transparent;
}

.download:hover {
    text-decoration-color: white;
}

.platformImage {
    transition: all 0.1s ease-in-out;
}

.platformImage:hover {
    filter: invert(0.9);
    transform: scale(1.1);
}

.clickable {
    cursor: pointer;
}

.clickable:hover {
    cursor: pointer;
}

/* tooltip */
.customTooltip {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.customTooltip .tooltiptext {
    visibility: hidden;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 4px 6px;
    position: absolute;
    z-index: 10;
    bottom: 110%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.2s;
    font-size: 0.85rem;
    white-space: nowrap;
}

.customTooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.category {
    width: 12rem;
}