<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset=" UTF-8">
    <title>Carpe Noctem Cloud</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body data-bs-theme="dark">
<div>
    <!-- nav -->
    <div th:replace="components/header :: header (activePage = 'search')"></div>
    <!-- content -->
    <div class="my-3">
        <div class="my-2 w-75 mx-auto">
            <div class="row my-2">
                <div class="col-auto align-content-center object-fit-contain"
                     th:if="${!resultFile.categoryID().isEmpty()}">
                    <img th:if="${resultFile.categoryID().get() == 1}" th:src="@{/img/film.svg}"
                         alt="file logo"
                         class="fileImage">
                    <img th:if="${resultFile.categoryID().get() == 2}" th:src="@{/img/music.svg}"
                         alt="file logo"
                         class="fileImage">
                    <img th:if="${resultFile.categoryID().get() == 3}" th:src="@{/img/image.svg}"
                         alt="file logo"
                         class="fileImage">
                </div>

                <div class="col-auto justify-content-center align-content-center object-fit-contain"
                     th:if="${resultFile.categoryID().isEmpty()}">
                    <img th:src="@{/img/file.svg}" class="fileImage" alt="file">
                </div>
                <h3 class="col align-content-center mb-0" th:text="${resultFile.name()}"></h3>
            </div>
            <strong>Server: </strong>
            <p th:text="${serverURL}"></p>
        </div>
    </div>
    <!-- footer -->
    <div th:replace="components/footer :: footer"></div>

</div>
</body>
</html>
