<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <title>Carpe Noctem Cloud</title>
</head>
<body data-bs-theme="dark" class="d-flex flex-column min-vh-100">
<!-- nav -->
<div th:replace="components/header :: header (activePage = 'home')"></div>

<main class="flex-column flex-grow-1 d-flex text-center p-5 justify-content-center">
    <div class="d-flex flex-row justify-content-center">
        <h1>Welcome to Carpe Noctem Cloud</h1>
    </div>
    <div class="d-flex flex-row justify-content-center">

        <p>Carpe Noctem Cloud (CNC) is a rudimentary clone of UT Cloud. It indexes various file
            servers
            located
            around campus and allows searching and downloading from one place. After finding a file
            one
            wishes to download, an HTML file will be downloaded which contains a redirect to the
            file
            itself. Opening the HTML file will prompt to download and voilà! you have successfully
            used
            CNC.</p>


    </div>
    <div>
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th>Important notes</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th>Currently, when downloading, it will download an archive file (.zip).
                    This is to
                    prevent browsers from adding .download to the end of the files and breaking the
                    ability to click the URL files.
                </th>
            </tr>
            <tr>
                <th>When following a redirect, it might ask for authentication. Leaving the password
                    empty and pressing next should do the trick.
                </th>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="p-3">
        <img style="width: 40%" th:src="@{/img/logo.png}" alt="Carpe Noctem logo">
    </div>

    <div class="d-flex flex-row justify-content-center">
        <button onclick="window.location.href='/search'" class="btn btn-primary">Start searching
        </button>
    </div>
</main>

<!-- footer -->
<div th:replace="components/footer :: footer"></div>

</body>
</html>