<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Carpe Noctem Cloud</title>
    <meta charset=" UTF-8">
    <meta http-equiv="refresh" th:content="'0;url=' + ${resultFile.downloadURL()}">
</head>
<body>
<h1>Thanks for searching through Carpe Noctem Cloud!</h1>
<p>The download should already have started. If no prompt or download has started, please enter the
    following url in the browser search bar: </p>
<p th:text="${resultFile.downloadURL()}"></p>
</body>
</html>