<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset=" UTF-8">
    <title>Carpe Noctem Cloud</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body data-bs-theme="dark">
<div class="d-flex w-100 flex-row justify-content-center">
    <div class="d-flex flex-column w-100">
        <div class="d-flex flex-row justify-content-center">
            <form class="w-75 m-3 d-flex flex-row justify-content-center" action="/search"
                  method="get"
                  id="searchForm">
                <label hidden="hidden" for="inputQuery"></label><input
                    class="form-control m-0 w-60 h-100 rounded-end-0"
                    th:value="${query}"
                    placeholder="search..."
                    type="search" name="query"
                    id="inputQuery">
                <label>
                    <select name="cat"
                            class="form-select m-0 w-20 h-100 rounded-start-0 rounded-end-0">
                        <option value="" th:selected="${currentCategory==null}">none...</option>
                        <option th:each="cat : ${categories}"
                                th:selected="${currentCategory == cat.id()}" th:text="${cat.name()}"
                                th:value="${cat.id()}"></option>
                    </select>
                </label>
                <label hidden="hidden" for="inputOffset"></label><input class="m-0 w-20 h-100"
                                                                        type="number"
                                                                        name="offset"
                                                                        th:value="0"
                                                                        id="inputOffset"
                                                                        hidden="hidden">
                <input class="btn btn-primary rounded-start-0" type="submit" value="submit">
            </form>
        </div>
        <div class="d-flex justify-content-center flex-row">
            <div class="flex-column justify-content-center w-75">
                <div class="border-1 border border-black my-1 p-1 px-2 rounded-1 result" th:each="result : ${results}">
                    <p class="mb-0" th:text="${result.name()}"></p>
                    <div class="d-flex flex-row justify-content-evenly">
                        <a class="download" th:href="'/redirect-file/WINDOWS/' + ${result.id()}"
                           download>Windows</a>
                        <a class="download" th:href="'/redirect-file/MAC/' + ${result.id()}"
                           download>macOS</a>
                        <a class="download" th:href="'/redirect-file/' + ${result.id()}"
                           th:download="${result.id()}+'.html'">Universal (semi-broken)</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center flex-row">
            <form action="/search" th:unless="${offset==0}">
                <label>
                    <input type="number" name="offset" hidden="hidden"
                           th:value="${offset}-${maxFetchSize}">
                </label>
                <label>
                    <input hidden="hidden" th:value="${query}" type="text" name="query">
                </label>
                <button type="submit" class="btn btn-primary">Previous</button>
            </form>
            <form action="/search" th:unless="${results.size() < maxFetchSize}">
                <label>
                    <input type="number" name="offset" hidden="hidden"
                           th:value="${offset}+${maxFetchSize}">
                </label>
                <label>
                    <input hidden="hidden" th:value="${query}" type="text" name="query">
                </label>
                <button type="submit" class="btn btn-primary">Next</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>
