<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset=" UTF-8">
    <title>Carpe Noctem Cloud</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body data-bs-theme="dark">
<div>
    <!-- nav -->
    <div th:replace="components/header :: header (activePage = 'search')"></div>
    <!-- content -->
    <div class="my-3">
        <!-- search -->
        <div class="my-2 w-75 mx-auto">
            <form class="d-flex flex-row justify-content-center" action="/search"
                  method="get"
                  id="searchForm">
                <label hidden="hidden" for="inputOffset"></label>
                <input class="m-0 w-20 h-100"
                       type="number"
                       name="offset"
                       th:value="0"
                       id="inputOffset"
                       hidden="hidden">
                <label hidden="hidden" for="inputQuery"></label>
                <input
                        class="form-control rounded-end-0"
                        th:value="${query}"
                        placeholder="Search..."
                        type="search" name="query"
                        id="inputQuery">
                <label class="category">
                    <select name="cat"
                            class="form-select select rounded-start-0 rounded-end-0">
                        <option value="" th:selected="${currentCategory==null}">none...</option>
                        <option th:each="cat : ${categories}"
                                th:selected="${currentCategory == cat.id()}" th:text="${cat.name()}"
                                th:value="${cat.id()}"></option>
                    </select>
                </label>
                <input class="btn btn-primary rounded-start-0" type="submit" value="Submit">
            </form>
        </div>
        <!-- results -->
        <div class="my-2 w-75 mx-auto">
            <div class="flex-column justify-content-center">
                <div th:each="result : ${results}">
                    <div th:replace="components/searchResult :: result (resultRef = result)"></div>
                </div>
            </div>
        </div>
        <!-- pagination -->
        <div class="my-2 mb-2 w-75 mx-auto d-flex justify-content-center">
            <form action="/search" th:unless="${offset==0}">
                <label>
                    <input type="number" name="offset" hidden="hidden"
                           th:value="${offset}-${maxFetchSize}">
                </label>
                <label>
                    <input hidden="hidden" th:value="${query}" type="text" name="query">
                </label>
                <button type="submit" class="btn btn-primary">Previous</button>
            </form>
            <form action="/search" th:unless="${results.size() < maxFetchSize}">
                <label>
                    <input type="number" name="offset" hidden="hidden"
                           th:value="${offset}+${maxFetchSize}">
                </label>
                <label>
                    <input hidden="hidden" th:value="${query}" type="text" name="query">
                </label>
                <button type="submit" class="btn btn-primary">Next</button>
            </form>
        </div>
    </div>
    <!-- footer -->
    <div th:replace="components/footer :: footer"></div>

</div>
</body>
</html>
